.header {
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    z-index: 1000;
}

.header-container {
    width: 960px;
    margin-inline: auto;
    display: flex;
    padding: 20px;
}

.header-logo {
    height: 33px;
    width: 141px;
    position: relative;
}
img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    vertical-align: baseline !important;
}

.header-navigation {
  display: flex;
  margin-right: 50%;
  transform: translateX(50%);
}

.header-navigation button {
  width: max-content;
  background: none;
  border: none;
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 500;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.header-navigation button:hover {
  color: var(--text);
}

.header-navigation button:hover {
  color: var(--grey-900);
}