.footer-container {
  width: 1200px;
  margin-inline: auto;
}

.footer-links {
  padding-block: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
  gap: 40px;
  padding-inline: 16px;
}
.footer-column {
  gap:12px;
  line-height: 30px;
}
.footer-column h4 {
  margin-block: 0;
}
.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column a {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: var(--text-size-sm);
}
.footer-column a:hover {
  color: var(--text);
}

.footer-bottom {
  padding-block:20px;
  display: flex;
  
}
#footer-bottom-socials {
  margin-left: 50px;
  gap: 12px;
  display: flex;
}
#footer-bottom-socials span {
  width: 24px;
  height: 24px;
  color: var(--text-secondary);
}