.category_card {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 260px;
  border-radius: 20px;
  background-color: var(--bg-white);
  padding: 20px;
  text-align: center;
}

.category_card_img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 15px;
}