<div class="footer-container">
  <div class="footer-links">
    <div *ngFor="let column of linkColumns" class="footer-column">
      <h4>{{ column.title }}</h4>
      <ul>
        <li *ngFor="let link of column.links">
          <a href="{{ link.url }}">{{ link.name }}</a>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="footer-bottom">
    <div>
      <div> © 2012-<span>2025, ТОО «Kaspi Магазин»</span></div>
      <div>Все товарные знаки, размещённые на сайте, являются товарными знаками правообладателя и используются на сайте исключительно в информационных целях</div>
      <a href="https://www.kaspibank.kz/?s=kaspi">Корпоративный сайт</a>
    </div>
    <a *ngFor="let social of socials" href="{{ social.imageUrl }}" target="_blank" >
      <span style="width:24px;height:24px;">
        <img src="{{ social.imageUrl }}" alt="{{ social.name }}" />
      </span>
    </a>
  </div>
</div>